#app{
  position: relative;
}

.fade{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.rightmenu{
  position: absolute;
  right: 0;
  top: 3rem;
}
.rightmenu__item{
  background: black;
  line-height: 3rem;
  padding: 0 1rem;  
}
.rightmenu__item:hover{
  background: #222;
  cursor: pointer;
}


canvas {
  background: #ccc;
}

body {
  user-select: none;
  font-family: 'Raleway', sans-serif;
  background: #3a3a3a;
  color: white;
  margin: 0;
}

.bottom-nav {
  margin: 1rem;
}

a {
  color: white;
}

nav.menu{
  line-height: 3rem;
  background: #666;
  display: flex;
}

.menu__logo{
  flex: 1;
  margin: 0 1rem;
}

.menu__open{
  padding: 0 1rem;
  background: #888;
  cursor: pointer;
}

.menu__open:hover{
  background: #999;
}

.editor{
  margin: 1rem;
}

.export-dialog {
    padding:1rem;
    margin: 2rem;
    background: dimgrey;
    flex-direction: column;
    display: flex;
}

textarea {
  font-size: 15px;
  flex: 1;
  height: 300px;
}
